.first-cover {
  background-image: url(../img/image.jpg);
  background-size: cover;
  padding-bottom: 700px;
  background-position: center;
  background-repeat: no-repeat;
}

.second-cover {
  background-image: url(../img/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body{
  max-width: 100%;
}


li {
  display: inline-block;
  font-size: large;
}

.navbar-img {
  height: 100%;
  width: 50%;
  padding: 0;
  border-radius: 100px;
}

.navbar {
  padding: 0;
  opacity: 0.9;
  border-radius: 100px;
}

.navbar-brand {
  padding: 0;
  width: 80%;
}

#navbarNavDropdown {
  margin-right: 10px;
}

.nowrap {
  white-space: nowrap;
}

.banner {}

.white-text {
  color: white;
}


.submit-form .my-btn {
  background-color: transparent;
  font-size: x-large;
}

.submit-form .col-md-3 {
  padding: 0px;
}

.submit-form .large-text {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.banner .submit-form {
  border-bottom: 5px solid #213868;
  background-color: #fff;
  padding: 15px;
  border-radius: 100px;
  width: 33%;
  margin: 0 auto;
}

.dark-background-search {
  opacity: 0.6;
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9));
}

.dark-background-items {
  opacity: 0.9;
  background: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9));
}

.banner .banner-caption h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 0.1px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.banner .banner-caption h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  color: #fff;
}

.banner .banner-caption span {
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.5px;
}

.banner .banner-caption .blue-button {
  margin-top: 30px;
}

.banner .banner-caption {
  padding: 150px 0px 20px;
}

.submit-form input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  outline: none;
  padding: 0px 10px;
  display: inline-block;
  box-shadow: none;
}

section {
  padding-top: 0px
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.line-dec {
  width: 50px;
  height: 6px;
  background-color: #213868;
  left: 50%;
  border-radius: 200px;
}

#myInput {
  background-color: transparent;
  border-radius: 100px;
  text-align: center;
}

.banner .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height:100%;
}



.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sub-footer p {
  text-align: center;
  display: inline-block;
  background-color: #f4f4f4;
  width: 100%;
  margin-bottom: 0;
  padding: 20px 0;
  font-size: 15px;
  color: #aaaaaa;
}

section.our-services .service-item {
  margin-bottom: 30px;
  border-radius: 100px;
  text-align: center;
  border: 5px solid #ddd;
  padding: 50px 30px;
}

.down-services .left-content {
  margin-bottom: 60px;
}

section.our-services {
  background-color: #ccc9c9;
  padding: 100px;
}

.ourservices-container .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.our-services .service-item .icon img {
  max-width: 100%;
}

section.our-services .service-item h4 {
  font-size: 19px;
  font-weight: 600;
  color: #232323;
  margin-top: 30px;
  margin-bottom: 15px;
}

.our-services .left-content h4 {
  font-size: 19px;
  font-weight: 600;
  color: #232323;
  margin-top: 0px;
  margin-bottom: 25px;
}

.our-services .left-content .blue-button {
  margin-top: 25px;
}

.service-item i {
  color: #213868;
}

.icon:before {
  font-family: "Font Awesome 5 Free";
}

#index-solid {
  font-size: 3rem;
}

.section-heading h2 {
  color: #213868;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.heading h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}



.popular-cover{
  background-image: url(../img/darken-spotlight.jpg);
  background-size: cover;

  max-width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.popular-cover .container{
  padding-top: 200px;
  padding-bottom: 200px;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 80px 0px 70px 0px;
  border-top: 1px solid #ddd;
  font-family:'Raleway', 'sans-serif';
}

footer .footer-heading h4 {
  font-size: 21px;
  color: #232323;
  letter-spacing: 0.5px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.contact-info ul{
  padding:0;
}


footer .about-veno .logo {
  margin-bottom: 40px;
  display:flex;
}

footer .about-veno ul li a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  background-color: #cdcdcd;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  margin-right: 3px;
  transition: all 0.5s;
}

footer .about-veno p {
  margin-bottom: 25px;
}

footer .about-veno ul li a:hover {
  background-color: #4883ff;
}

footer .useful-links ul li {
  padding: 0;
display: grid;
}

footer .useful-links ul {
  padding: 0;
display: grid;
}

footer .useful-links ul li a {
  font-size: 15px;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.5s;
}

footer .useful-links ul li a:hover {
  color: #4883ff;
}

footer .useful-links ul li i {
  color: #4883ff;
  font-size: 6px;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

footer .contact-info p {
  margin-bottom: 25px;
}



footer .contact-info ul li span {
  font-size: 13px;
  color: #7a7a7a;
  font-weight: 600;
  letter-spacing: 0.3px;
  width: 80px;
  display: inline-block;
}

footer .contact-info ul span {
  font-size: 13px;
  color: #7a7a7a;
  font-weight: 600;
  letter-spacing: 0.3px;
  width: 150px;
  display: inline-block;
}

footer .contact-info ul li {
  font-size: 15px;
  color: #4883ff;
  letter-spacing: 0.5px;
}

.sub-footer p {
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
  display: inline-block;
  background-color: #030717e0;
  width: 100%;
  margin-bottom: 0px;
  padding: 30px 0px;
  font-size: 15px;
  color: white;
}

.sub-footer a {
  text-decoration: none;
  color: #4883ff;
}

.logo {
  text-align: center;
    vertical-align: middle;
    font-family: 'Sofia', cursive;
    display:inline;
}

.logo img{
  border-radius: 100px 0;
}

h4 span{
  text-align: center;
    vertical-align: middle;
    font-size: 15px;
    display: inline;
}

.row .col-md-6{
  padding:0;
}
